/*X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
*/
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    /* auth  */
        .col-morada{
            height: 100vh;
        }
        .col-morada_content{
            display: block;
        }
        .col-blanca-reg{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            padding-top: 0vh;
        }
        .sin_cuenta-top{
          display: block;
          position: absolute;
          top: 2vh;
          right: 2vw;
        }
        .sin_cuenta-bottom{
          display: none;
        }
        .col-blanca-log{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 90vh;
            padding-top: 20vh;
        }
    /* Carousel logos */
        .home-logos{
            background-color: transparent;
        }
        .home-logos .owl-carousel{
          margin: 0;
          /*z-index: -100 !important;*/
        }
        .cursos-home .owl-carousel img{
            max-height: 80px;
            margin: auto;
        }
    .home-landing{
      background-repeat: no-repeat;
      /* background-image: url('../img/Group 2.svg'); */
      background-size: 120%;
      padding: 0;
      padding-top: 1rem;
      width: 100vw;
    }
    .home-landing_text{
        max-width: 600px;
    }
    .landing_text_titulo1 span{
        color: var(--amarillo);
      }
    .home-landing .btn-rosa{
        background-color: var(--amarillo);
        color: var(--azulfuerte);
    }

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    
    .home-landing{
        background-color: transparent;
        background-repeat: no-repeat;
        /*padding: 10rem 0 4rem;*/
        background-size: cover;
        height: 70vh;
        background-position: 0 120%;
        padding: 1rem 0 0;
    }
     .home-landing .container{
        display: flex;
        flex-direction: row-reverse;
        align-content: center;
        align-items: center;
        justify-content: space-around;
      }
      .home-landing_text{
        background-color: transparent;
        border-radius: 0;
        padding: 0;
        position: relative;
        bottom: 0;
        max-width: auto;
        text-align: left;
        align-items: flex-start;
      }
    .landing_text_titulo1{
        color: var(--grisea);
        margin-bottom: 1rem;
      }
      .landing_text_p{
        color: var(--grisea);
        margin-bottom: 2rem;
      }

    /* cursos */
        .home-cursos{
          margin: 2rem 0;
          padding: 4rem 0;
          /*background-color: var(--grisea);*/
        }
        
    /* aprende */
        .aprende .container{
          display: grid;
          grid-template-columns: 40% 60%;
        }
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1100px) {
    main {
        margin-top: 100px;
    }
    .home-landing {
        background-color: transparent;
        background-repeat: no-repeat;
        /*padding: 10rem 0 4rem;*/
        background-size: cover;
        height: 70vh;
        background-position: 0 120%;
        padding: 5% 0 0;
    }
    /* Navbar */
        .nav-toggle{
            display: none;
        }
        .nav-logo_desk{
            display: block;
            height: 70px;
            margin: 0 4px;
        }
        #logo-unam{
            filter: invert(100%);
        }
        .nav-home{
            height: 100px;
            min-width: 100vw;
            position: fixed;
            z-index: 1;
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
        }
        .nav-home_menu {
            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: center;
            background-color: transparent;
            position: static;
            width: auto;
            height: 100px;
            min-height: auto;
            margin: 0;
        }
        .nav-logo{
            height: 80px;
            margin-top: 0;
        }

        /* dropdown */
            .dropbtn {
            background-color: transparent;
            padding: 16px;
            font-size: 16px;
            border: none;
            color: #fff
            }
            .dropbtn img{
            filter: invert(100%);
            }
            .dropbtn:hover{
            color: var(--amarillo);
            text-decoration: underline;
            }

            .dropdown-nav {
            position: relative;
            display: inline-block;
            }

            .dropdown-content {
            display: none;
            position: absolute;
            background-color: var(--azulfuerte);
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            }

            .dropdown-content a {
            color: #fff;
            padding: 6px 16px;
            text-decoration: none;
            display: block;
            }

            .dropdown-content a:hover {
            background-color: var(--amarillo);
            color: #202020;
            }

            .dropdown-nav:hover .dropdown-content {display: block;}

    /* home aprende */
            .home-aprende{
                display: grid;
                grid-template-columns: 45% 55%;
            }
            .home-aprende img{
            }

}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 


}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 


}