/*X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	.col-morada{
		height: 100vh;
	}
	.col-morada_content{
		display: block;
	}
	.col-blanca-reg{
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
		padding-top: 0vh;
	}
	.sin_cuenta-top{
	  display: block;
	  position: absolute;
	  top: 2vh;
	  right: 2vw;
	}
	.sin_cuenta-bottom{
	  display: none;
	}
	.col-blanca-log{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: 90vh;
		padding-top: 20vh;
	}

	/* Carousel logos */
		.cursos-home .owl-carousel img{
			max-height: 80px;
			margin: auto;
		}

	
	/* Porque? */
		.container-porque{
			margin: 6rem auto;
			display: flex;
			flex-direction: column;
		}
		.card-porque{
			height: 12rem;
		}
		.card-porque-2{
			transform: translateY(-20%);
		}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
		
		/* Home */
			.section-presentacion{
				/*background-color: var(--lavanda);*/
				background-image: url(../img/fondos/wave2.svg);
			    background-repeat: no-repeat;
			    background-size: cover;
			}
			div.row.presentacion{
		        /*padding: 0 5vw;*/
		        display: flex;
		        flex-direction: row;
		        justify-content: center;
		    }
			.presentacion .item-1, .contacto .item-2{
		        order: 0;
		    }

		    .presentacion .item-2, .contacto .item-1{
		        order: -1;
		    }
		   
		    .presentacion .item-2 div, .presentacion .item-2 .container-btn{
		        justify-content: flex-start;
		    }

		    .presentacion .item-2 div h1, .presentacion .item-2 div p{
		        text-align: left;
		        width: 85%;
		    }
		    .presentacion .item-1 img{
		        max-height: 600px;
		    }

	}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1100px) {
	/*main{
		padding: 0 10vw;
	}*/
	/* Display */
		.desktop-none{
			display: none;
		}
		.mobile-none{
			display: block;
		}

	/* Navbar */
		main{
			top:100px;
		}
		.nav-toggle{
			display: none;
		}
		.nav-logo_blanco{
			display: none;
		}
		.nav-logo_color{
			display: block;
		}
		.nav-home{
			background-color: var(--lavanda);
	        height: 100px;
	        min-width: 100vw;
	        position: fixed;
	        z-index: 1;
	        display: flex;
	        justify-content: space-between;
	        align-content: center;
	        align-items: center;
	        padding: 0 5vw;
	    }
	    .nav-home_menu {
	    	display: flex;
	    	list-style: none;
	        flex-direction: row;
	        align-content: center;
	        align-items: center;
	        background-color: transparent;
	        position: static;
	        width: auto;
	        height: 100px;
	        min-height: auto;
	    }
	    .nav-logo{
			height: 80px;
			margin-top: 0;
		}

	/* Home */
		div.row.presentacion{
	        /*padding: 0 5vw;*/
	    }

	
	/* cursos primer */
		.cursos-primero-1{
			padding: 0 3rem;
		}
	/* home aprende */
			.home-aprende{
				display: grid;
				grid-template-columns: 45% 55%;
			}
			.home-aprende img{
			}
	/* talleres */
		.home-talleres{
			
		}
		.carousel-talleres div .img-carousel-talleres{
			width: 75% !important;
			margin: auto;
			margin-bottom: 2rem;
		}
	/* Ifrane */
		.iframe-responsive-yt iframe, .iframe-responsive-yt object, .iframe-responsive-yt embed {
			height: 80%;
			left: 10%;
			position: absolute;
			top: 0;
			width: 80%;
		}

	/* footer */
		.home-footer{
			padding: 3rem;
		}
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 


}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 


}