html, body {
  min-height: 100%;
}

/* Fonts */
	@font-face {
	  font-family: 'SpaceMonoRegular';
	  font-style: normal;
	  font-weight: 400;
	  src: url('../fonts/space-mono-regular.eot'); /* IE9 Compat Modes */
	  src: local(''),
	       url('../fonts/space-mono-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	       url('../fonts/space-mono-regular.woff2') format('woff2'), /* Super Modern Browsers */
	       url('../fonts/space-mono-regular.woff') format('woff'), /* Modern Browsers */
	       url('../fonts/space-mono-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	       url('../fonts/space-mono-regular.svg#SpaceMono') format('svg'); /* Legacy iOS */
	}

	@font-face {
	  font-family: 'SpaceMonoBold';
	  font-style: normal;
	  font-weight: 700;
	  src: url('../fonts/space-mono-bold.eot'); /* IE9 Compat Modes */
	  src: local(''),
	       url('../fonts/space-mono-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	       url('../fonts/space-mono-bold.woff2') format('woff2'), /* Super Modern Browsers */
	       url('../fonts/space-mono-bold.woff') format('woff'), /* Modern Browsers */
	       url('../fonts/space-mono-bold.ttf') format('truetype'), /* Safari, Android, iOS */
	       url('../fonts/space-mono-bold.svg#SpaceMono') format('svg'); /* Legacy iOS */
	}

	/* mulish-regular - latin */
	@font-face {
	  font-family: 'MulishRegular';
	  font-style: normal;
	  font-weight: 400;
	  src: url('../fonts/mulish-v5-latin-regular.eot'); /* IE9 Compat Modes */
	  src: local(''),
	       url('../fonts/mulish-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	       url('../fonts/mulish-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	       url('../fonts/mulish-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
	       url('../fonts/mulish-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	       url('../fonts/mulish-v5-latin-regular.svg#Mulish') format('svg'); /* Legacy iOS */
	}
	/* mulish-700 - latin */
	@font-face {
	  font-family: 'Mulish700';
	  font-style: normal;
	  font-weight: 700;
	  src: url('../fonts/mulish-v5-latin-700.eot'); /* IE9 Compat Modes */
	  src: local(''),
	       url('../fonts/mulish-v5-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	       url('../fonts/mulish-v5-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	       url('../fonts/mulish-v5-latin-700.woff') format('woff'), /* Modern Browsers */
	       url('../fonts/mulish-v5-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	       url('../fonts/mulish-v5-latin-700.svg#Mulish') format('svg'); /* Legacy iOS */
	}
	/* mulish-900 - latin */
	@font-face {
	  font-family: 'Mulish900';
	  font-style: normal;
	  font-weight: 900;
	  src: url('../fonts/mulish-v5-latin-900.eot'); /* IE9 Compat Modes */
	  src: local(''),
	       url('../fonts/mulish-v5-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	       url('../fonts/mulish-v5-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
	       url('../fonts/mulish-v5-latin-900.woff') format('woff'), /* Modern Browsers */
	       url('../fonts/mulish-v5-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
	       url('../fonts/mulish-v5-latin-900.svg#Mulish') format('svg'); /* Legacy iOS */
	}

/* Global */
	*{ 
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body{
		font-family: 'SpaceMonoRegular', sans-serif;
		font-size: 100%;
		min-height: 100vh;
		box-sizing: border-box;
	    display: flex;
	    min-height: 100vh;
	    flex-direction: column;
	}
	main{
		width: 100%;
		margin-bottom: 8rem;
	}
	::selection{

		background-color: #BACDFF;
	}
	html {
	  scroll-behavior: smooth;
	}

/* Colores */
	:root{
		--rosa: #E01656;
		--azul: #4266c7;
		--amarillo: #DEC733;
		--grisclaro: #eaeaea;
		--lavanda: #BACDFF;
		--negro: #000000;
		--grisdark: #444444;
	}
	.text-rosa{
		color: var(--rosa);
	}
	.text-azul{
		color: var(--azul);
	}
	.text-amarillo{
		color: var(--amarillo);
	}
	.text-grisclaro{
		color: var(--grisclaro);
	}
	.text-lavanda{
		color: var(--lavanda);
	}
	.text-negro{
		color: var(--negro);
	}
	.text-grisdark{
		color: var(--grisdark);
	}
	.text-blanco{
		color: #fff;
	}
	.text-negro{
		color: #000;
	}
	.bg-rosa{
		background-color: var(--rosa);
	}
	.bg-azul{
		background-color: var(--azul);
	}
	.bg-amarillo{
		background-color: var(--amarillo);
	}
	.bg-lavanda{
		background-color: var(--lavanda);
	}
	.border-lavanda{
		border-style: solid;
		border-color: var(--lavanda);
	}

/* Tipografía */
	
	h1, h2, h3, h4, h5, h6{
		font-family: 'Mulish700', sans-serif;
	}

	h1 span{
		color: var(--azul);
		font-weight: bold;
	}

	a{
		text-decoration: none;
	}
	.p-grande{
		font-size: 120%;
	}
	.p-grande span{
		font-family: 'SpaceMonoBold';
	}
	.text-bold{
		font-weight: bold;
	}
	.h2-grande{
		/*font-size: 20%;*/
	}
	
/* Botones */
	.btn{
		border-radius: 32px;
		padding: 1.5vh 5.5vh;
		transition: all .2s ease-in-out;
	}
	.btn-form{
		border-radius: 32px;
		padding: .5rem 1rem;
		transition: all .2s ease-in-out;
		border-style: none;
		width: 100%;
		margin: 6px 0;
	}
	.btn:hover{
		box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.62);
		-webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.62);
		transform: translateY(-.2vh);
	}
	.btn-rosa{
		background-color: var(--rosa);
		color: #fff;
	}
	.btn-rosa:hover{
		color: #fff;
		cursor: pointer;
		background-color: var(--azul);
	}
	.btn-amarillo{
		background-color: var(--amarillo);
		color: var(--negro);
	}
	.btn-amarillo:hover{
		background-color: var(--azul);
		color: #fff;
		cursor: pointer;
	}
	.btn-azul{
		background-color: var(--azul);
		color: #fff;
	}
	.btn-azul:hover{
		background-color: var(--amarillo);
		color: #000 !important;
		cursor: pointer;
		font-weight: lighter !important;
	}
	.btn-azul-outline{
		background-color: transparent;
		border: solid 2px var(--azul);
		color: #fff;
	}
	.btn-azul-outline:hover{
		border: solid 2px var(--amarillo);
		color: #000 !important;
		font-weight: lighter !important;
	}
	.btn-lavanda{
		background-color: var(--lavanda);
		color: var(--negro);
	}
	.btn-lavanda:hover{
		background-color: var(--azul);
		color: #fff;
		cursor: pointer;
	}
	.sub{
		text-decoration: underline;
	}
	.sub:hover{
		background-color: var(--rosa);
		color: #fff;
	}
	.container-btn, .container-tecnologias{
		width: 100%;
		display: flex;
		justify-content: space-evenly;
	}

	.container-tecnologias{
		flex-direction: row;
	}

	.ico-tecnologias{
		padding: 0 5px;
	}

/* Forms */

	label{
		display: block;
		margin-bottom: .5vh;
	}
	input{
		background-color: var(--grisclaro);
		border:none;
		border-radius: 8px;
		padding: .8vh 1vh;
		width: 100%;
		margin-bottom: .5vh;
	}
	.input-div{
		margin-bottom: 1vh;
	}

/* Colores titulos */
  .ti_reg{
    color: var(--rosa);
  }
  .ti_log{
	color: var(--azul);
  }

/* Colores enlaces */
  .a_reg{
    color: var(--rosa);
  }
  .a_log{
    color: var(--azul);
  }

/* margenes */
  .main_log_reg{
    margin-top: 7rem;
    display: block;
  }

/* Display */
	.mobile-none{
		display: none;
	}

/* body login/register */
  .body_log{
    background: rgb(186,205,255);
    background: linear-gradient(90deg, rgba(186,205,255,1) 39%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 100%);
  }

/* Auth (login y register) */
  .col-morada{
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .col-morada_content{
    display: none;
  }
  .sin_cuenta-top{
    display: none;
  }
  .sin_cuenta-bottom{
    display: block;
  }
  .col-blanca-reg{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90vh;
    padding-top: 10vh;
  }
  .col-blanca-log{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90vh;
    padding: 10vh 5vw;
  }
  .auth-form .input-div{
    margin-bottom: 2vh;
  }
  .auth-form .input-div label{
    margin-bottom: 0;
  }
  #aviso{
    margin-right: 6px;
  }
  .auth-logo{
    height: 10vh;
    position: absolute;
    top: 2vh;
  }
  .auth-form{
    max-width: 40rem;
  }
  .auth-img{
    max-width: 40rem;
    display: block;
    margin: auto;
  }

/* Navbar para mobile */
	 /* Header */
		main{
			position: relative;
			top: 80px;
		}
		.main_auth{
			top:0;
			margin-bottom: 0;
		}
	    .nav-home{
	        height: 80px;
	        min-width: 100vw;
	        position: fixed;
	        top: 0;
	        background-color: var(--azul);
	        display: flex;
	        justify-content: space-between;
	        align-content: center;
	        padding: 0 5vw;
	        z-index: 1000 !important;
	    }

	    .nav-home_menu {
	    	display: flex;
	    	list-style: none;
	        flex-direction: column;
	        align-content: center;
	        align-items: center;
	        background-color: var(--lavanda);
	        position: absolute;
	        top: 80px;
	        width: 100%;
	        min-height: 100vh;
	        padding: 5vh 0;
	        height: 100vh;
	        left: 100%;
	        transition: left 0.3s;
	        margin-bottom: 0;
	    }

	    .nav-menu_item {
	        line-height: 220%;
	    }

	    .nav-menu_visible {
	        left: 0;
	    }

	    .nav-toggle:focus:not(:focus-visible) {
	        outline: none;
	    }

		.nav-toggle {
			color: white;
			background: none;
			border: none;
			font-size: 2rem;
			cursor: pointer;
		}
		.nav-logo{
			height: 60px;
		}
		.nav-logo_color{
			display: none;
		}

		/* links */
			.nav-menu_link{
				color: var(--negro);
			}
			.nav-menu_link.text-blanco{
				color: #fff;
			}
			.menu_item-btn{
				margin: 0 .5rem;
				display: block;
			}
			.nav-menu_link.active{
				color: var(--azul);
				font-weight: bold;
				text-decoration: underline;
			}
			.nav-menu_link:hover{
				color: var(--azul);
				font-weight: bold;
			}
			.nav-menu_link.text-grisdark{
				color: var(--azul);
			}
			.btn-nav{
				border-radius: 32px;
				padding: .6rem 2rem;
				transition: all .2s ease-in-out;
				margin: 0 .5rem;
				cursor: pointer;
			}
			.btn-nav_rosa{
				background-color: var(--azul);
				color: #fff;
			}
			.btn-nav_rosa:hover{
				background-color: var(--rosa);
				color:#fff;
			}
			.btn-nav_blanco{
				border: solid var(--rosa) 2px;
				color: #000;
			}
			.btn-nav_blanco:hover{
				border: solid var(--azul) 2px;
				color: #000;
			}

/* Home */
	.section-presentacion, .section-home_cursos{
		display: flex;
		align-items: center;
	}

/* Presentación */
			
		div.row.presentacion{
	        margin: 0;
	        padding: 0;
	        width: 100%;
			text-align: center;
			/*border-style: solid;*/
		}

		.presentacion, .presentacion .item-1, .presentacion .item-2{
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.presentacion .item-1{
			order: -1;
		}
		.presentacion h1.display-5{
			margin-top: 0;
		}
		.presentacion .item-1 img{
	        max-height: 400px;
	    }

		.presentacion .item-2{
			order: 0;
			flex-direction: column;
		}
		.presentacion .item-1{
	        order: -1;
		}

	    .contacto .item-1{
	        order: -1;
	    }

	    .presentacion .item-2, .contacto .item-2{
	        order: 0;
		}
		.presentacion-btn{
			margin-top: 1rem;
		}

/* Carousel logos */
	.cursos-home{
		/*background-color: var(--grisclaro);*/
		padding: 2rem;
		margin: 2rem auto;
	}
	.cursos-home .owl-carousel{
		margin: 3rem auto;
		/*z-index: -100 !important;*/
	}
	.cursos-home .owl-carousel img{
		max-height: 60px;
		transform: scale(.9);
	}
	.cursos-home .owl-carousel img:hover{
		filter:drop-shadow(4px 4px 8px #ccc);
		cursor: pointer;
		transform: scale(1);
	}
	.cursos-home .owl-carousel img.padding-logo{
		padding-left: 25%;
	}
	.cursos-home .owl-prev, .cursos-home .owl-next{
		background-color: var(--lavanda) !important;
		border-radius: 50%;
		width: 2rem;
		height: 2rem;
		color: #fff !important;
		font-size: 1.8rem !important;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		position: absolute;
	}
	.cursos-home .owl-prev{
		top: 30%;
		left: -2%;
	}
	.cursos-home .owl-next{
		right: -2%;
		top: 30%;
	}
	.cursos-home .owl-prev span, .cursos-home .owl-next span{
		padding: 0 !important;
		height: 2rem;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin-bottom: .4rem;
	}
/* Form cursos */
	.cursos-primero{
		margin: 4rem auto 1rem;
		background-color: var(--grisclaro);
		/*background-color: transparent;*/
		border-radius: 32px;
		padding: 1rem .5rem;
		text-align: center;
	}
	.form-cursos{
		background-color: var(--grisclaro);
		/*background-color: transparent;*/
		padding: 1rem;
		border-radius: 16px;
	}
	.cursos-primero-1{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0rem;
	}

/* ¿Por qué? */	
	.home-aprende>img{
		max-width: 28rem;
	}
	.home-aprende{
		text-align: center;
		margin: 4rem auto;
	}
	.home-aprende-2{
		/*border-style: solid;*/
		padding: 1rem;
	}
	.aprende_cards{
		display: grid;
		grid-template-columns: 20% 70% 10%;
		align-content: center;
		align-items: center;
		padding: .5rem 5%;
		width: 100%;
		margin: 1.5rem auto;
		border-radius: 32px;
		border-style: none;
		background-color: var(--grisclaro);
		/*background-color: var(--grisclaro);*/
		/*border: solid 2px var(--lavanda);*/
	}
	.aprende_cards:hover{
		background-color: var(--lavanda);
	}
	.aprende_cards img{
		height: 6vh;
	}
	.aprende_cards p{
		margin-bottom: 0;
		text-align: left;
		padding: 0 1.5vh;
	}
	.aprende-cards_flecha{
		max-height: 1.5rem;
		/*background-color: pink;*/
		position: absolute;
		right: 5%;
	}
	.home-aprende .panel-collapse{
		/*background-color: var(--grisclaro);*/
		margin-top: 0;
		padding: 1rem;
		border-radius: 32px;
	}

/* Talleres */
	
	.home-talleres p{
		padding: 0 2vw;
	}
	.carousel-talleres{
		margin: 2rem auto;
		/*z-index: -100 !important;*/
		margin-bottom: 0;
	}
	.btn-carousel{
		border-radius: 32px;
		padding: .5rem 1.5rem;
		transition: all .2s ease-in-out;
		border-style: none;
		display: block;
		margin: auto;
		width: max-content;
	}
	.carousel-talleres .item-carousel-talleres{
		padding-bottom: 3rem;
	}
	.carousel-talleres div .img-carousel-talleres{
		width: 75% !important;
		margin: auto;
		margin-bottom: 2rem;
	}
	.carousel-talleres .owl-prev, .carousel-talleres .owl-next{
		background-color: var(--rosa) !important;
		border-radius: 50%;
		width: 2rem;
		height: 2rem;
		color: #fff !important;
		font-size: 1.8rem !important;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		position: absolute;
	}
	.carousel-talleres .owl-prev{
		top: 30%;
		left: 0;
	}
	.carousel-talleres .owl-next{
		right: 0;
		top: 30%;
	}
	.carousel-talleres .owl-prev span, .carousel-talleres .owl-next span{
		padding: 0 !important;
		height: 2rem;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin-bottom: .4rem;
	}
	.iframe-responsive-yt {
		height: 0;
		overflow: hidden;
		padding-bottom: 56.25%;
		padding-top: 30px;
		position: relative;
		}
	.iframe-responsive-yt iframe, .iframe-responsive-yt object, .iframe-responsive-yt embed {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.talleres-gratuitos{
		padding: 2rem 0;
		margin: 2rem auto;
	}

/* Asesorías */
	.home-asesorias{
		border-style: solid;
		padding-bottom: 40vh;
	}
	.banner-asesorias{
		margin: 2rem 0;
		text-align: center;
		padding: 2rem;
		padding-bottom: 24vh;
	}
	.banner-asesorias .video-asesorias{
		/*position: absolute;
		left: calc(50vw - 25vw);*/
		/*transform: scale(.9);*/
		background-color: pink;
		padding: 1rem;
		background-image: url(../img/fondos/ipad.png);
		background-size: cover;
	}
	.banner-asesorias .video-asesorias iframe{
		width: 90vw;
		height: 30vw;
		margin: auto;
	}

/* Footer*/
	.home-footer{
		background-color: var(--grisclaro);
		padding: 1rem;
	}
	.footer-logo{
		max-width: 10rem;
	}
	.home-footer .row div{
		margin: 1rem 0;
		align-content: center;
		align-items: center;
	}
	.home-footer_row .footer-col-logo{
		display: flex;
		justify-content: center;
	}
	.home-footer_row .footer-col-contacto{
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	
	.home-footer_row .footer-col-redes{
		display: flex;
		justify-content: center;
	}
	.home-footer a:hover{
		color: var(--azul);
		text-decoration: underline;
	}
	.footer-col-redes img{
		width: 2.5rem;
		margin: 0 .5rem;
		transition: all .2s ease;
	}
	.footer-col-redes img:hover{
		transform: scale(1.2);
	}

/* Gen 42 */
	.generacion42{
		margin: 2rem 0;
		text-align: center;
		padding: 2rem 0;
	}
	#timer{
		color: var(--amarillo);
		font-weight: bold;
	}

/* Cards cursos */
	.scene {
	  width: 18rem;
	  height: 450px;
	  border-style: none;
	  margin: 40px 0;
	  perspective: 600px;
	  border-radius: 32px;
	  display: flex;
	  justify-content: center;
	}
	.cursos-card {
		width: 18rem;
		height: 400px;
		transition: transform 1s;
		transform-style: preserve-3d;
		position: relative;
		border-radius: 32px;
		/*border-style: solid;*/
	}

	.cursos-card.is-flipped {
	 	transform: rotateY(180deg);
	}
	.card__flip{
		background-color: transparent;
		border-style: none;
	}
	.card__face {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		border-radius: 32px;
	}

	.card__face--front{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 2rem;
	}
	.card__face--front .iconos-cursos{
		width: 40%;
		margin: 0 auto;
	}
	.card__face--front .c-body{
		text-align: center;
	}
	.card__face--front .c-body p{
		margin-bottom: 0;
	}
	.card__face--front .tag{
		border-radius: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 7rem;
		text-align: center;
		background-color: var(--rosa);
		color: #fff;
		height: 2rem;
		margin: auto 0;
	}
	.card__face--front .c-footer{
		display: grid;
		grid-template-columns: 70% 30%;
	}
	.c-footer-links{
		display: flex;
	}
	.card__face--front .c-footer .c-footer-link:hover{
		transform: scale(1.1);
	}

	.card__face--back {
	  transform: rotateY(180deg);
	  padding: 2rem;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	}
	.card__face--back h4{
		margin-bottom: .5rem;
	}
	.card__face--back p{
		margin-bottom: .5rem;
	}
	.card__face--back p span{
		font-weight: bold;
	}
	.card__face--back .back-footer{
		display: flex;
		justify-content: flex-end;
		align-content: center;
		align-items: center;
	}
	.card__face--back .back-footer a{
		text-decoration: underline;
	}
	.card__face--back .back-footer a:hover{
		color: var(--rosa);
	}

/* carousel cursos */
	/* Carousel */
	.carousel__cursos{
		width: 100%;
		margin: 0;
	}
	.carousel__contenedor {
		position: relative;
		display: flex;
		height: 450px;
		width: 100%;
		justify-content: center;
	}

	.carousel__anterior,
	.carousel__siguiente {
		position: absolute;
		display: block;
		width: 30px;
		height: 30px;
		border: none;
		top: calc(50% - 35px);
		cursor: pointer;
		line-height: 30px;
		text-align: center;
		background: none;
		color: var(--azul);

		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		overflow: hidden;
		border-radius: 16px;
		box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
	}

	.carousel__anterior:hover,
	.carousel__siguiente:hover {
		opacity: 100%;
	}

	.carousel__anterior {
		left: -30px;
	}

	.carousel__siguiente {
		right: -30px;
	}

	.carousel__lista {
		overflow: hidden;
	}

	.carousel__indicadores .glider-dot {
		display: block;
		margin-bottom: 20px;
		width: 1rem;
		height:1rem;
		background: var(--lavanda);
		opacity: .2;
	}

	.carousel__indicadores .glider-dot:hover {
		opacity: .5;
	}

	.carousel__indicadores .glider-dot.active {
		opacity: 1;
	}


/* Admin */

  /* nav */
    .nav-admin a{
      color: #000;
    }
    .nav-admin a.active{
      color: var(--azul);
      font-weight: bold;
    }

  /* users */
    .edit-form{
      max-width: 40rem;
      margin: 0;
    }